<div class="body" [ngClass]="setDarkMode()">
    <div id="divLogoConsultoria">
        <img id="logoConsultoria" src="./assets/imagens/click-estoque5.png" alt="imagem de bem-vindos">
    </div>

    <div id="divLogoConsultoria" class="row m-0 p-0">
        <div class="col-6 text-end p-0">
            <h5 class="welcome-style">BEM-VINDO, </h5>

        </div>
        <div class="col-6 text-start p-0">
            <img id="logoConsultoria" src="./assets/imagens/logo-fitness2.png" alt="imagem de bem-vindos">
        </div>
    </div>

    <div class="row">
        <div class="text-end rodape" id="divLogoExito">
            <img id="logoExito" src="./assets/imagens/logo-exito01.png" alt="imagem do logo da Consultoria">
        </div>

    </div>
</div>