<div>
    <div class="container row">
        <div class="col-md-8"></div>
        <form class="d-flex col-md-4 text-end mt-5" [formGroup]="formPesquisarFornecedor">
            <input class="form-control me-2" type="text" placeholder="Pesquisar CNPJ"
                aria-label="pesquisar" formControlName="cnpj" appCnpjMask>
            <button class="btn btn-outline-primary" type="button" (click)="buscarFornecedor()">Buscar</button>
        </form>
    </div>

    <div class="container mt-5" *ngIf="isFornecedorLoaded">
        <form class="row" [formGroup]="formEditFornecedor">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input class="form-control" class="form-control" type="text" id="fornecedorEdit" formControlName="fornecedor"
                        placeholder=" ">
                    <label for="fornecedorEdit">Fornecedor</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="text" formControlName="cnpj" placeholder=" " id="cnpjEdit" appCnpjMask>
                    <label for="cnpjEdit">CNPJ</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" id="enderecoEdit" formControlName="endereco">
                    <label for="enderecoEdit">ENDERECO</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="email" id="emailEdit" formControlName="email">
                    <label for="emailEdit">E-MAIL</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="tel" id="celularEdit" formControlName="celular"    [ngClass]="phoneValidation()">
                    <label for="celularEdit">CELULAR</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary me-4" type="button" (click)="editFornecedor()">
                        <span *ngIf="!isLoadingSalvar">SALVAR</span>
                        <img *ngIf="isLoadingSalvar" src="../../../assets/imagens/loading-pulse.gif" width="auto" height="20px" alt="">

                    </button>
                    <button class="btn btn-secondary ms-4" (click)="cancelarEdicao()">CANCELAR</button>
                </div>
            </div>
        </form>

    </div>

    <div class="text-center mt-5" *ngIf="!isFornecedorLoaded && !loading">
        {{ msgBusca }}
    </div>

    <div class="text-center mt-5" *ngIf="!isFornecedorLoaded && loading">
        <img src="../../../assets/imagens/loading-busca.gif" width="auto" height="100px" alt="">
        <p>Buscando</p>
    </div>
</div>