<div>
    <div class="container row">
        <div class="col-md-8"></div>
        <form class="d-flex col-md-4 text-end mt-5" [formGroup]="formPesquisarPeca">
            <input class="form-control me-2" formControlName="filtro" type="pesquisarEstoque" placeholder="Pesquisar Código"
                aria-label="pesquisarEstoque">
            <button class="btn btn-outline-primary" type="button" (click)="pesquisarPeca()">Buscar</button>
        </form>
    </div>

    <div class="container mt-5" *ngIf="isProdutoLoaded">
        <form class="row" [formGroup]="formEditProduto">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input class="form-control" class="form-control" type="text" name="id_peca"
                        id="id_peca" placeholder=" " formControlName="id_peca">
                    <label for="id_peca">CÓD. PEÇA</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" class="form-control" type="text" name="peca"
                        id="peca" placeholder=" " formControlName="peca" [ngClass]="{'is-valid': this.formEditProduto.get('peca')?.valid && this.formEditProduto.controls['peca'].touched, 'is-invalid': this.formEditProduto.get('peca')?.invalid && this.formEditProduto.controls['peca'].touched }">
                    <label for="peca">PEÇA</label>
                </div>

<!--                             <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" id="idTamanho" name="tamanho">
                    <label for="tamanho">TAMANHO DROPDOWN</label>
                </div> -->

                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" formControlName="tamanho" [ngClass]="{'is-valid': this.formEditProduto.get('tamanho')?.valid && this.formEditProduto.controls['tamanho'].touched, 'is-invalid': this.formEditProduto.get('tamanho')?.invalid && this.formEditProduto.controls['tamanho'].touched}">
                      <option selected>Selecione...</option>
                      <option value="u">U</option>
                      <option value="pp">PP</option>
                      <option value="p">P</option>
                      <option value="m">M</option>
                      <option value="g">G</option>
                      <option value="gg">GG</option>
                      <option value="eg">EG</option>
                    </select>
                    <label for="floatingSelect">TAMANHO</label>
                  </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" id="quantidadeProduto" formControlName="quantidade"
                        name="quantidade" [ngClass]="{'is-valid': this.formEditProduto.get('quantidade')?.valid && this.formEditProduto.controls['quantidade'].touched, 'is-invalid': this.formEditProduto.get('quantidade')?.invalid && this.formEditProduto.controls['quantidade'].touched }" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                    <label for="quantidade">QUANTIDADE</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" formControlName="id_fornecedor" [ngClass]="{'is-valid': this.formEditProduto.get('id_fornecedor')?.valid && this.formEditProduto.controls['id_fornecedor'].touched , 'is-invalid': this.formEditProduto.get('id_fornecedor')?.invalid && this.formEditProduto.controls['id_fornecedor'].touched }">
                      <option *ngFor="let fornecedor of fornecedoresOptions" value ="{{fornecedor.id}}">{{fornecedor.value}}</option>
                    </select>
                    <label for="floatingSelect">FORNECEDOR</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" name="valorCompra" ng-pattern="^[0-9]*$"
                        id="idValorCompra" formControlName="valor_compra" [ngClass]="{'is-valid': this.formEditProduto.get('valor_compra')?.valid && this.formEditProduto.controls['valor_compra'].touched, 'is-invalid': this.formEditProduto.get('valor_compra')?.invalid && this.formEditProduto.controls['valor_compra'].touched }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <label for="valorCompra">VALOR DE COMPRA</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" name="ValorVenda"
                        id="idValorVenda" formControlName="valor_venda" [ngClass]="{'is-valid': this.formEditProduto.get('valor_venda')?.valid && this.formEditProduto.controls['valor_venda'].touched, 'is-invalid': this.formEditProduto.get('valor_venda')?.invalid && this.formEditProduto.controls['valor_venda'].touched }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                    <label for="ValorVenda">VALOR DE VENDA</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary me-4" type="button" [disabled]="formEditProduto.invalid" (click)="editProduto()">
                        <span *ngIf="!isLoadingSalvar">SALVAR</span>
                        <img *ngIf="isLoadingSalvar" src="../../../assets/imagens/loading-pulse.gif" width="auto" height="20px" alt="">

                    </button>
                    <button class="btn btn-secondary ms-4" (click)="cancelarEdicao()">CANCELAR</button>
                </div>
            </div>
        </form>

    </div>

    <div class="text-center mt-5" *ngIf="!isProdutoLoaded && !loading">
        {{ msgBusca }}
    </div>


        <div class="text-center mt-5" *ngIf="!isProdutoLoaded && loading">
            <img src="../../../assets/imagens/loading-busca.gif" width="auto" height="100px" alt="">
            <p>Buscando</p>
        </div>
</div>