<div class="container">
    <div class="mt-5" *ngIf="isPecasLoaded; else loading">
        <table class="text-center table table-striped table-hover">
            <thead>
                <tr>
                    <th>Cód.</th>
                    <th>Produto</th>
                    <th>Fornecedor</th>
                    <th>Qnt. Saída</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let peca of pecas">
                    <td>{{peca.id_peca}}</td>
                    <td>{{peca.peca}}</td>
                    <td>{{peca.fornecedor}}</td>
                    <td [formGroup]="formRegistrarSaidas">
                        <input class="text-center form-control" type="number" step="1" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');" formControlName="{{peca.id_peca}}">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center ">
            <button class="btn btn-primary" (click)="registrarSaidas()">
                <span *ngIf="!isLoadingRegistro">Registrar Saídas</span>
                <img *ngIf="isLoadingRegistro" src="../../../assets/imagens/loading-pulse.gif" width="auto" height="20px" alt="">
            </button>
        </div>
    </div>

    <ng-template #loading>
        <div *ngIf="!isPecasLoaded" class="text-center mt-5">
            <img src="../../../assets/imagens/loading-pulse.gif" width="auto" height="100px" alt="">
            <p>Carregando</p>
        </div>

    </ng-template>

</div>