<div>
    <div class="container row">
        <div class="col-md-8"></div>
        <form class="d-flex col-md-4 text-end mt-5" [formGroup]="pesquisarClienteEditar">
            <input class="form-control me-2" type="text" placeholder="Pesquisar ID do Cliente"
                aria-label="pesquisarCliente" formControlName="filtro">
            <button class="btn btn-outline-primary" type="button" (click)="pesquisarCliente()">Buscar</button>
        </form>
    </div>

    <div class="text-center" *ngIf="isClienteLoaded">

        <form id="editFormCliente" class="row" [formGroup]="editFormCliente">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-floating mb-3  mt-3">
                    <input class="form-control" class="form-control" type="text" formControlName="id" id="idEdit"
                        placeholder=" ">
                    <label for="idEdit">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" [ngClass]="{'is-valid': this.editFormCliente.get('cliente')?.valid && this.editFormCliente.controls['cliente'].touched, 'is-invalid':this.editFormCliente.get('cliente')?.invalid && this.editFormCliente.controls['cliente'].touched }" class="form-control" type="text" formControlName="cliente" id="clienteEdit"
                        placeholder=" ">
                    <label for="clienteEdit">CLIENTE</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" [ngClass]="{'is-valid': this.editFormCliente.get('cpf')?.valid && this.editFormCliente.controls['cpf'].touched, 'is-invalid':this.editFormCliente.get('cpf')?.invalid && this.editFormCliente.controls['cpf'].touched }"   placeholder=" " type="text" id="cpfEdit" formControlName="cpf" appCpfMask>
                    <label for="cpfEdit">CPF</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" [ngClass]="{'is-valid': this.editFormCliente.get('endereco')?.valid && this.editFormCliente.controls['endereco'].touched, 'is-invalid':this.editFormCliente.get('endereco')?.invalid && this.editFormCliente.controls['endereco'].touched }" placeholder=" " type="text" id="enderecoClienteEdit" formControlName="endereco">
                    <label for="enderecoClienteEdit">ENDEREÇO</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" [ngClass]="{'is-valid': this.editFormCliente.get('email')?.valid && this.editFormCliente.controls['email'].touched, 'is-invalid':this.editFormCliente.get('email')?.invalid && this.editFormCliente.controls['email'].touched }" placeholder=" " type="email" id="emailClienteEdit" formControlName="email">
                    <label for="emailClienteEdit">E-MAIL</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" [ngClass]="{'is-valid': this.editFormCliente.get('celular')?.valid && this.editFormCliente.controls['celular'].touched, 'is-invalid':this.editFormCliente.get('celular')?.invalid && this.editFormCliente.controls['celular'].touched }" placeholder=" " type="tel" formControlName="celular" id="celularClienteEdit">
                    <label for="celularClienteEdit">CELULAR</label>
                </div>

                <div>
                    <button class="btn btn-primary me-4" type="button" [disabled]="editFormCliente.invalid" (click)="editarCliente()">
                        <span *ngIf="!isLoadingEdit">SALVAR</span>
                        <img *ngIf="isLoadingEdit" src="../../../assets/imagens/loading-pulse.gif" width="auto" height="20px" alt="">
                    </button>
                    <button class="btn btn-secondary ms-4" type="button" (click)="cancelarEdit()">&nbsp;CANCELAR&nbsp;</button>
                </div>
            </div>

            <div class="col-4"></div>

        </form>
    </div>

    <div class="text-center mt-5" *ngIf="!isClienteLoaded && !loading">
        {{ msgBusca }}
    </div>

    <div class="text-center mt-5" *ngIf="!isClienteLoaded && loading">
        <img src="../../../assets/imagens/loading-busca.gif" width="auto" height="100px" alt="">
        <p>Buscando</p>
    </div>
</div>