<div class="row m-0 p-0">
    <div class="col-1 body"  [ngClass]="setDarkMode()"></div>
    <div class="col-11 d-flex align-items-center body" [ngClass]="setDarkMode()" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <!-- col-lg-6 representa a largura do card, offset-lg-3 centraliza o card -->
                    <div class="card mt-4 no-border">
                        <div class="card-body row text-center">
                            <h4 class="my-5">CONTATOS PARA SUPORTE</h4>
                            <!-- Conteúdo do card -->
                            <div class="col-lg-3 mx-auto card no-border" style="width: 18rem;">
                                <img src="./assets/imagens/whats.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">WhatsApp</h5>
                                    <p class="card-text">Precisa de suporte para resolver um problema urgente. Por favor,
                                        entre em contato via WhatsApp. Obrigado!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">(19) 97777-7777</li>
                                    <!--<li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>-->
                                </ul>
                                <div class="card-body">
                                    <a href="https://wa.me/551999777777777/" target="_blank" class="btn btn-primary">Iniciar Conversa</a>
                                    <!--  <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a> -->
                                </div>
                            </div>
    
                            <div class="col-lg-3 mx-auto card no-border" style="width: 18rem;">
                                <img src="./assets/imagens/email.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">E-mail</h5>
                                    <p class="card-text">Precisa de suporte para resolver um problema ou sugerir uma
                                        melhoria. Por favor, entre em contato via e-mail. Obrigado!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">suporte@exitoconsultoria.br</li>
                                </ul>
                                <div class="card-body">
                                    <a class="btn btn-primary" (click)="copyEmail()">Copiar e-mail</a>
                                    <p *ngIf="showEmailCopiado">E-mail copiado!</p>
                                    <!--  <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a> -->
                                </div>
                            </div>
    
                            <div class="col-lg-3 mx-auto card no-border" style="width: 18rem;">
                                <img src="./assets/imagens/telefone.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Telefone</h5>
                                    <p class="card-text">Precisa de suporte para resolver um problema imediatamento. Por
                                        favor, entre em contato via Telefone. Obrigado!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">(19) 97777-7777</li>
                                    <!-- <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li> -->
                                </ul>
                                <div class="card-body">
                                    <a  class="btn btn-primary" (click)="copyTel()">Copiar Telefone</a>
                                    <p *ngIf="showTelCopiado">Telefone copiado!</p>

                                    <!--  <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a> -->
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
    
            </div>
        </div>
    
    
    </div>
</div>
