<div>
    <div class="text-center">

        <h4 class="my-5">CADASTRO DE USUÁRIOS</h4>

        <form id="cadastroFormUsuario" class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input class="form-control" class="form-control" type="text" name="usuario" id="usuario"
                        placeholder=" ">
                    <label for="usuario">USUÁRIO</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="cpf" name="cpf" placeholder=" ">
                    <label for="cpf">CPF</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="email" id="emailFornecedor"
                        name="emailFornecedor">
                    <label for="email">E-MAIL</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="tel" name="celularFornecedor"
                        id="idCelularFornecedor">
                    <label for="celular">CELULAR</label>
                </div>

                <div>
                    <button class="btn btn-primary me-4" type="button" id="btnCadastrarUsuario">CADASTRAR</button>
                    <button class="btn btn-secondary ms-4" id="btnCancelarUsuario">&nbsp;CANCELAR&nbsp;</button>
                </div>
            </div>

            <div class="col-4"></div>

        </form>
    </div>
</div>