<div>
    <div class="container row mb-5">
        <div class="col-md-8"></div>
        <form class="d-flex col-md-4 text-end mt-5" [formGroup]="formPesquisarEstoque">
            <input class="form-control me-2" formControlName="filtro" type="pesquisarEstoque" placeholder="Pesquisar"
                aria-label="pesquisarEstoque">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
    </div>
    <div *ngIf="estoqueLoaded; else loading" class="container row text-center">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>CÓD.</th>
                        <th>NOME PRODUTO</th>
                        <th>TAMANHO</th>
                        <th>QTD</th>
                        <th>FORNECEDOR</th>
                        <th>R$ COMPRA (UNIT)</th>
                        <th>R$ VENDA (UNIT)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of estoque">
                        <td>{{ produto.id_peca }}</td>
                        <td>{{ produto.peca }}</td>
                        <td>{{ produto.tamanho }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.fornecedor }}</td>
                        <td>{{ produto.valor_compra }}</td>
                        <td>{{ produto.valor_venda }}</td>
                        <td data-bs-toggle="tooltip" data-bs-placement="right" title="Editar"> <i
                                class='bx bxs-edit-alt action-icon' (click)="editarProduto(produto)"></i> </td>
                        <td data-bs-toggle="tooltip" data-bs-placement="right" title="Excluir"> <i
                                class='bx bxs-trash action-icon' (click)="confirmDelete(produto)"></i> </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <ng-template #loading>
        <div class="text-center mt-5">
            <img src="../../../assets/imagens/loading-pulse.gif" width="auto" height="100px" alt="">
            <p>Carregando</p>
        </div>

    </ng-template>
</div>