<div>
    <div class="text-center">

        <h4 class="my-5">CADASTRO DE FORNECEDORES</h4>

        <form id="cadastroFormFornecedores" [formGroup]="formFornecedores" class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input class="form-control" class="form-control" type="text" id="fornecedor" formControlName="fornecedor"
                        placeholder=" "  [ngClass]="{'is-valid': this.formFornecedores.get('fornecedor')?.value.length > 0, 'is-invalid': this.formFornecedores.get('fornecedor')?.value.length == 0 && this.formFornecedores.controls['fornecedor'].touched }">
                    <label for="fornecedor">FORNECEDOR</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="cnpj" formControlName="cnpj" placeholder="__.___.___/____-__"
                        value="__.___.___/____-__" appCnpjMask required>
                    <label for="cnpj">CNPJ</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" id="endereco" formControlName="endereco"  [ngClass]="{'is-valid': this.formFornecedores.get('endereco')?.value.length > 0, 'is-invalid': this.formFornecedores.get('endereco')?.value.length == 0 && this.formFornecedores.controls['endereco'].touched }">
                    <label for="endereco">ENDEREÇO</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="email" id="email" formControlName="email" [ngClass]="{'is-valid': this.formFornecedores.controls['email'].valid, 'is-invalid':this.formFornecedores.controls['email'].invalid && this.formFornecedores.controls['email'].touched }">
                    <label for="email">E-MAIL</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder=" " type="text" id="celular" formControlName="celular" appPhoneMask [ngClass]="phoneValidation()" maxlength="14"> <label
                        for="celular">CELULAR</label>
                </div>

                <div>
                    <button class="btn btn-primary me-4" type="button" (click)="cadastrar()">
                        <span *ngIf="!isLoadingCadastrar">CADASTRAR</span>
                        <img *ngIf="isLoadingCadastrar" src="../../../assets/imagens/loading-pulse.gif" width="auto" height="20px" alt="">

                    </button>
                    <button class="btn btn-secondary ms-4" (click)="cancelar()">&nbsp;CANCELAR&nbsp;</button>
                </div>
            </div>

            <div class="col-4"></div>

        </form>
    </div>
</div>