<div>
    <div class="container row">
        <div class="col-md-8"></div>
        <form class="d-flex col-md-4 text-end mt-5" [formGroup]="formPesquisarCliente">
            <input class="form-control me-2" type="text" placeholder="Pesquisar" aria-label="pesquisarCliente"
                formControlName="filtro">
            <button class="btn btn-outline-primary" type="button" (click)="pesquisarCliente()">Buscar</button>
        </form>
    </div>

    <div *ngIf="clienteLoaded; else loading" class="container row text-center mt-5">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME CLIENTE</th>
                        <th>CPF</th>
                        <th>ENDEREÇO</th>
                        <th>E-MAIL</th>
                        <th>CELULAR</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.cliente }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.endereco }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td data-bs-toggle="tooltip" data-bs-placement="right" title="Editar"> <i
                                class='bx bxs-edit-alt action-icon' (click)="editarCliente(cliente)"></i> </td>
                        <td data-bs-toggle="tooltip" data-bs-placement="right" title="Excluir"> <i
                                class='bx bxs-trash action-icon' (click)="confirmDelete(cliente)"></i> </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <ng-template #loading>
        <div class="text-center mt-5">
            <img src="../../../assets/imagens/loading-pulse.gif" width="auto" height="100px" alt="">
            <p>Carregando</p>
        </div>

    </ng-template>
</div>