#divLogoConsultoria {
    text-align: center;
    
}

#logoConsultoria {
    height: 30%;
    width: 30%;
    height: auto;

}

#logoExito {
    width: 10%;
    height: 10%;
  
  
}

.welcome-style {
    text-shadow: 5px 2px 7px #757678;
    color: white;
    font-weight: bolder;
    font-size: xxx-large;
    margin-top: 3%;
}

.rodape {
    position: fixed;
    bottom: 5px; /* Distância do rodapé */
}